/*
Amo:Sebastian Urrego cardenas 
  /\_/\   
 ( o.o )  
  > ^ <
Don Lucius 
*/


.container {
  background-color: rgb(165, 225, 15);
  display: flex;
  /*flex-direction: column-reverse;*/
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap; /*esta propiedad permite que los elementos se vayan a la siguiente linea si no caben en la actual */
  gap: 50px;
  /*TODO:Mira esta pagina web:https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
}
.uno {
  background-color: rgb(60, 255, 0);
  height: 400px;
  width: 400px;
  border-radius: 15px;
}
.dos {
  background-color: rgb(195, 0, 255);
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
.tres {
  background-color: rgb(0, 51, 255);
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
/* 

TODO: NO BORRAR ESTE COMENTARIO ver el video :https://css-tricks.com/snippets/css/a-guide-to-flexbox/

*/
